# Compiled Java classes
*.class
bin/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log
